.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 900px) {
    .cards {
        flex-direction: row;
    }
}

.card {
    flex: 1;    /* Equal height and width of the cards */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #333;
}